<p>scss variable example works!</p>
<p>nesting Workd</p>
<div>
  scss Nesting example works!
  <ul>
    <li>List 1</li>
    <li>List 2</li>
    <li>List 3</li>
    <li>List 4</li>
  </ul>

</div>

<div>
  <p>
    Short for Syntactically Awesome Style Sheets, SASS is a popular CSS pre-processor. SASS code is processed by the program and compiled into CSS code, which can be used to style HTML elements. SASS controls how it appears on the web page. It is compatible with all CSS versions.
  </p>
</div>

<p>inherate/extend Works</p>
<button type="button" class="btn-primary">Primary</button>
<button type="button" class="btn-success">success</button>
<button type="button" class="btn-danger">danger</button>
<button type="button" class="btn-info">info</button>


<p>Operators  Works</p>
<div>
  <h1>Main Heading</h1>
  <h2>Sub Heading</h2>
  <p>
    SASS is Syntactically Awesome Style Sheets and is an extension of CSS which provides the features of nested rules, inheritance, Mixins whereas SCSS is Sassy Cascaded Style Sheets which is similar to that of CSS and fills the gaps and incompatibilities between CSS and SASS
  </p>

</div>

