<div class="dropdown">
  <div class="dropdown-header" (click)="toggleDropdown()">
    <span *ngIf="selectedCountries.length === 0">Select Countries</span>
    <span *ngIf="selectedCountries.length > 0">
      {{ selectedCountries.map(c => c.name).join(', ') }}
    </span>
    <span class="arrow">&#9662;</span>
  </div>

  <ul *ngIf="dropdownOpen" class="dropdown-list">
    <li *ngFor="let country of countries" (click)="selectCountry(country)">
      <input type="checkbox" [checked]="isSelected(country)" />
      {{ country.name }}
    </li>
  </ul>
</div>
